body {
    /* background-image: url("images/644030000_3798555650453409_4191692311800376360_n.jpg"); */
    background-color: #fff;
}

h1 {
    color: rgb(154, 222, 234);
    margin-left: 100px;
    text-shadow: 3px .5px 4px rgba(0,0,0,0.6);
}

.container {
    /* background-image: url("images/619266150_25488398390816825_4885980870574023880_n.jpg"); */
    width: 450px;
    height: 450px;
    background-color: #faebd7;
    border: 2px solid black;
    border-radius: 8px;
}

/* SELECT ALL SQUARES IN THE ARRAY */

.container .squares:nth-child(-n+4) {
    background-image: url("images/644030000_3798555650453409_4191692311800376360_n.jpg");
    color: #fff;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 25%;
    cursor: pointer;
}

/* SELECT ALL SQUARE PARAGRAPHS IN THE ARRAY */

.squares:nth-child(-n+4) p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    color: #fff;
    font-weight: 900;
    padding: 10px;
    margin: 0;
    text-shadow: 2px 1px 4px rgb(0, 0, 0.8);
}


/* Hover */

.squares:nth-child(1):hover{
    background: #8cd49f;

}


